* {
    padding: 0;
    margin: 0;
}

body{
    background: #FCFCFF;
    overflow-x: hidden;
}

.info-big-blob{
    position: absolute;
    top: -20%;
    right: -14%;
    width: 65%;
    z-index: -100;
}

.info-dots-1{
    position: absolute;
    top: 79%;
    left: 20%;
    width: 25%;
    z-index: -100;
}

.info-dots-2{
    position: absolute;
    top: 95%;
    left: 73%;
    width: 25%;
    z-index: -100;
}

.navigation-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    flex-wrap: wrap;
    position: relative;
}

.header-left{
    display: inline-block;
    /* position: absolute; */
    /* top: 4%; */
    /* left: 5%; */
    margin-top: 30px;
    margin-left: 75px;
    margin-bottom: 100px;
    width: 123px;
    height: 123px;
}

.header-right{
    display: inline-block;
    width: auto;
    /* position: absolute; */
    /* top: 10%; */
    /* right: 5%; */
    margin-top: 65px;
    margin-right: 65px;

}

.navigation-button{
    display: inline-block;
    font-size: 20px;
    /* margin-right: 10px; */
    width: 103px;
    height: 34px;   
    /* text-align: left;    */
    /* letter-spacing: 0px; */
    color: #222222;
    text-decoration: none;
}

.navigation-button:hover{
    transform: translateY(-2px);
}

.login-button{
    font-size: 15px;
    margin-right: 10px;
    padding: 8px 20px;
    text-align: center;
    /* letter-spacing: 0px; */
    color:#663399;
    box-shadow: 0px 0px 15px #00000033;
    border: 2px solid #663399;
    border-radius: 24px;
    text-decoration: none;
    /* opacity: 1; */
}

.login-button:hover{
    padding: 10px 22px;
    color: #fff;
    background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
    border: none;
}

.get-started-button{
    width: 150px;
    font-size: 15px;
    margin-right: 10px;
    padding: 10px 20px;
    text-align: center;
    /* letter-spacing: 0px; */
    color: #fff;
    /* border: 2px solid #663399; */
    background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000033;
    border-radius: 24px;
    opacity: 1;
    text-decoration: none;
}

.get-started-button:hover{
    padding: 8px 18px;
    color: #663399;
    background: #fff;
    border: 2px solid #663399;
}

.info-small-blob{
    position: absolute;
    top: 30%;
    left: -5%;
    width: 25%;
    z-index: -100;
}

.information-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.information-left{
    margin-left: 85px;
}

.info-text-box{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #222222;
    text-decoration: none;
    display: inline-block;
    /* position: absolute; */
    /* top: 32%; */
    /* left: 8%; */
    width: 250px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.info-hr{
    /* position: absolute; */
    /* top: 42%; */
    /* left: 8%; */
    width: 142px;
    height: 5px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 13px;
    opacity: 0.7;
    margin-bottom: 50px;
    margin-left: 30px;
}

.info-image-box{
    /* position: absolute; */
    /* top: 52%; */
    /* left: 6%; */
}

.info-image{
    height: 250px;
}

.info-image-box:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

.eligibility-box{
    /* position: absolute; */
    /* top: 28%; */
    /* right: 4%; */
    margin-right: 50px;
}

.eligibility-image{
    height: 575px;
}

.features-big-wave{
    position: absolute;
    z-index: -100;
    top: 123%;
    left: 0%;
    width: 100%;
}

.features-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

.features-left-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
}

.row-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.row-2{
    margin-left: 30px;
    margin-top: 125px;
}

.rectangle-1,.rectangle-2,.rectangle-3,.rectangle-4,.rectangle-5{  
    /* position: absolute;  */
    /* left: 7%;  */
    width: 300px;
    height: 200px;
    box-shadow: 0px 0px 30px #2321321F;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin-bottom: 30px;
}

/* {
    /* position: absolute;  */
    /* left: 30%;  */
    /* width: 300px;
    height: 200px;
    box-shadow: 0px 0px 30px #2321321F;
    border: 1px solid #FFFFFF;
    border-radius: 20px; */
/* } */

.rectangle-1{
    /* top: 900px; */
    /* background: transparent url('Assets/Get Paid Instantly.png') 0% 0% no-repeat padding-box; */
}

.rectangle-2{
    /* top: 1150px;     */
    /* background: transparent url('Assets/Low interest rate.png') 0% 0% no-repeat padding-box; */
}

.rectangle-3{
    /* top: 1400px; */
    /* background: transparent url('Assets/Secure Payments.png') 0% 0% no-repeat padding-box; */
}

.rectangle-4{
    /* top: 1025px; */
    background-color: #a062c991;
    /* background: transparent url('Assets/freelancer_feature_icon_6@1.5x.png') 0% 0% no-repeat padding-box; */
}

.rectangle-5{
    /* top: 1275px; */
    /* background: transparent url('Assets/Covid.png') 0% 0% no-repeat padding-box; */
}

.rectangle-4 .main-text{
    color: #fff;
}

.rectangle-4 .small-text{
    color: #fff;
}

.features-left{
    margin-left: ;
}

.features-right{
    margin-top: 225px;
    margin-right: 100px;
    /* margin-right: 100px; */
}

.features-image{
    padding: 15px;
}

.main-text{
    font-size: 12px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-left: 15px;
    padding-bottom: 15px;
}

.small-text{
    font-size: 12px;
    color:#999999;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1pt;
    padding: 0 15px 20px 15px
}

.features-text-box{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #222222;
    /* position: absolute; */
    /* top: 1125px; */
    /* right: 20%; */
    width: 300px;
    margin-bottom: 25px;
}

.features-hr{
    /* position: absolute; */
    /* top: 1225px; */
    /* right: 33.5%; */
    width: 100px;
    height: 5px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 13px;
    opacity: 0.7;
    margin-bottom: 15px;
}

.features-right-text{
    /* position: absolute; */
    /* top: 1250px; */
    /* right: 23.5%; */
    font-size: 15px;
    color: #777777;
    width: 250px;
    margin-bottom: 50px;
}

.features-button{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    letter-spacing: 0px;
    color:#663399;
    box-shadow: 0px 0px 15px #00000033;
    border: 2px solid #663399;
    border-radius: 24px;
    text-decoration: none;
    /* position: absolute; */
    /* top: 1350px; */
    /* right: 28%; */
}

.features-button:hover{
    color: #fff;
    background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
    border: none;
}

.rectangle-1:hover, .rectangle-2:hover, .rectangle-3:hover, .rectangle-4:hover, .rectangle-5:hover{
    transform: translateY(-3px);
    cursor: pointer;
}

@media (max-width:620px){
    .information-container{
        flex-wrap: wrap;
    }

    .features-container{
        flex-wrap: wrap;
    }

    /* .features-left-container{
        display: block;
        flex-wrap: wrap;
        justify-content: center;
    } */

    .navigation-button{
        display: none;
    }

    .navigation-container{
        justify-content: space-between;
    }

    .header-left{
        margin: 20px 20px;
    }

    .header-right{
        margin-right: 20px;
    }

    .info-big-blob{
        right: 0;
    }

    .information-left{
        margin-top: 20px;
        margin-left: 0px;
    }

    .info-text-box,.info-hr{
        width: 75%;
    }

    .row-container{
        flex-wrap: wrap;
        justify-content: center;
    }

    .row-2{
        margin-top: 0;
        margin-right: 25px;
    }

    .info-image{
        width: 90%;
        margin-left: 30px;
    }

    .info-dots-1,.info-dots-2{
        display: none;
    }

    .eligibility-image{
        /* margin-left: 65px; */
        margin-top: 30px;
        height: 480px;
        margin-left: 35px;
        width: 100%;
    }

    .features{
        position: relative;
    }

    .features-big-wave{
        top: 81%;
        width: 100%;
    }

    .features-right{
        margin-top: 100px;
        margin-left: 150px;
        margin-bottom: 20px;
    }
}

@media (max-width:400px){
    .eligibility-image{
        /* margin-left: 65px; */
        margin-top: 0;
    }

    .info-image{
        /* margin-left: 65px; */
        margin-left: 20px;
    }
}

